<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
      <form action="resultado.html" method="POST">
        <p class="nombre">
          <!-- campo para el nombre -->
          <label for="nombre"></label>
          <input type="text" placeholder="Usuario" id="nombre" name="nombre" required>
        </p>
        <p>
          <!-- campo para la contraseña -->
          <label for="password"></label>
          <input type="password" placeholder="Contraseña" id="password" name="password" required>
        </p>
        <button type="submit">Iniciar Sesion</button>
        <button type="submit">Regresar</button>
        
      </form>
    </div>
</body>
</html>